{% extends 'dashboard/baseDash.html' %}
{% load static %}

{% block content %}

<div class="data__form">
    <h1>Validar cliente</h1>
    <form method="POST" action="{% url 'dashboard' %}">
        {% csrf_token %}
        <div class="field__input">
            <input type="number" name="cedula_clt" placeholder="Cedula" value="{{cedula}}" required>
        </div>
        <div class="field__input">
            <input type="text" name="placa" placeholder="Placa vehiculo" value="{{placa}}" required>
        </div>
        <button class='enter__button' type="submit">VALIDAR SERVICIO</button>
    </form>
    <h6>{{ mensaje }}</h6>
    {% if messages %}
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    {% endif %}
</div>

{% if mensaje == "Cliente no encontrado" %}
<div id="modalCrearUsuario">
    <form method="POST" action="{% url 'crear_cliente' %}">
        <div id="modalCrearUsuario-content">
            <h1>Crear usuario</h1>
            {% csrf_token %}
            <div class="field__input modal__input">
                <input type="number" name="cedula" placeholder="Cedula" value="{{ cedula }}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="nombre" placeholder="Nombre y apellidos" required>
            </div>
            <div class="field__input modal__input">
                <input type="number" name="celular" placeholder="Celular" required>
            </div>
            <button class="enter__button btn_cliente" onclick="cerrarCrearCliente('modalCrearUsuario')">CERRAR</button>
            <button type="submit" class="enter__button btn_cliente">CREAR CLIENTE</button>
        </div>
    </form>
</div>
{% endif %}

{% if mensaje == 'Vehiculo no encontrado' %}
<div id="modalCrearUsuario">
    <form method="POST" action="{% url 'crear_vehiculos' %}">
        <div id="modalCrearUsuario-content">
            <h1>Crear Vehiculo</h1>
            {% csrf_token %}
            <div class="field__input modal__input">
                <input type="text" name="placa" placeholder="Placa" value="{{ placa }}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="tipo" placeholder="Tipo Vehiculo" required>
            </div>
            <button class="enter__button btn_cliente" onclick="cerrarCrearCliente('modalCrearUsuario')">CERRAR</button>
            <button type="submit" class="enter__button btn_cliente">CREAR VEHICULO</button>
        </div>
    </form>
</div>
{% endif %}

{% if mensaje == 'Crear cliente' %}
<div id="modalCrearUsuario">
    <form method="POST" action="{% url 'crea_clientes_vehiculos' %}">
        <div id="modalCrearUsuario-content">
            <h1>Crear cliente  y vehiculo</h1>
            {% csrf_token %}
            <div class="field__input modal__input">
                <input type="number" name="cedula" placeholder="Cedula" value="{{ cedula }}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="placa" placeholder="Placa" value="{{ placa }}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="nombre" placeholder="Nombre y apellidos" required>
            </div>
            <div class="field__input modal__input">
                <input type="number" name="celular" placeholder="Celular" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="tipo" placeholder="Tipo Vehiculo" required>
            </div>
            <button class="enter__button btn_cliente" onclick="cerrarCrearCliente('modalCrearUsuario')">CERRAR</button>
            <button type="submit" class="enter__button btn_cliente">CREAR SERVICIO</button>
        </div>
    </form>
</div>
{% endif %}

{% if mensaje == 'Generar Servicio' %}
<div id="modalCrearUsuario">
    <form method="POST" action="{% url 'generar_servicio' %}">
        <div id="modalCrearUsuario-content">
            <h1>Generar Servicio</h1>
            {% csrf_token %}
            <div class="field__input modal__input">
                <input type="number" name="cedula" placeholder="Cedula"  value="{{cedula}}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="placa" placeholder="Placa" value="{{placa}}" required>
            </div>
            <div class="field__input modal__input">
                <input type="text" name="descripcion" placeholder="Descripcion Arreglo" required>
            </div>
            <div class="field__input modal__input">
                <input type="number" name="s_obra" placeholder="Costo mano de obra" value="0">
            </div>
            <h6>{{ mensaje }}</h6>
            {% if messages %}
            {% for message in messages %}
            <div class="message">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <button class="enter__button btn_cliente" onclick="cerrarCrearCliente('modalCrearUsuario')">CERRAR</button>
            <button type="submit" class="enter__button btn_cliente">GENERAR SERVICIO</button>
        </div>
    </form>
</div>
{% endif %}


<div class="active__service">
    <h1>Servicios en cola</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Placa</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id}}</td>
                <td>{{ servicio.vehiculo }}</td>
                <td>{{ servicio.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}