@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    overflow: hidden;
    font-family: 'Roboto';
    background-image: url('../images/aire.webp');
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.login__container h4 {
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 100;
}
body {
    margin: 0px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

.footer__home {
    margin-top: 12px;
}

.footer__home span {
    font-size: 13px;
}

.home__main {
    font-family: 'Roboto';
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 3rem 0 10rem;
    width: 350px;
    margin: 2rem auto;
    background: #fff;
    border-radius: 0 30px;
}

.home__logo {
    background-image: url('../images/logoelectroaires.png');
    width: 14rem;
    height: 12rem;
    background-size: cover;
    position: relative;
}

.home__main a {
    text-decoration: none;
    padding: 1rem 3rem;
    background: #2948ff;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    transition: ease-in-out .2s;
}

.home__main a:hover {
    border-radius: 20px 0;
    transition: ease-in-out .2s;
    background: #29108d;
}

/* 
    Login form
*/  

.login__container {
    display: flex;
}

.login__form {
    width: 50%;
    height: 100vh;
    background: linear-gradient(135deg, #120136, #035aa6);
    text-align: center;
    padding: 5rem 0;
}

.login__form h1{
    font-family: 'Raleway';
    color: #fff;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 100;
}
.login__img {
    background-image: url('../images/aire.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.field__input input{
    border: 0;
    border-bottom: solid thin rgb(255, 255, 255);
    border-radius: 0%;
    outline: none;
    width: 40%;
    background: none;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.field__input input::placeholder{
    color: white;
}

.login__button {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #2229b5;
    width: 40%;
    color: white;
    border: 0;
    box-shadow: none;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.login__button:hover {
    border-radius: 20px 0;
    transition: ease-in-out .2s;
    background: #29108d;
}
