<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/mobile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap" rel="stylesheet">
</head>
<title>Electro Aires & Aires</title>
</head>

<body>

    <header>
        <div class="logo__electro"></div>
    </header>
    {% block content %} {% endblock %}

    <footer>
        <div class="footer__home">
            <span>Desarrollado por Jhon Rengifo & Sebastian Aguirre</span>
        </div>
    </footer>
</body>

</html>